@media (min-width: 768px) {
	.board__title{
		height: 25vh;
		align-items: center;
		display: flex;

	}
	.board__cards{
		height: 35vh;
		align-items: center;
	}


	.board__cards :nth-child(2n) {
		order: 1
	}

	.board__bet {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100vw;
		height: 40vh;
	}

	.bank {
		order: 1;
		text-align: left;
		width: 95%;
	}
}